<!-- 첫번째 영역  -->
<div class="jumbo-img">
	
	<div class="container">
		<div class="navi">
			<img class="brand" src="/images/img_logo.png" alt="길을 찾다">
		</div>
	</div>
	<div class="container">
		<div class="home-contents">
			<p class="text-bold">자신을 돌아본적 있으신가요?</p>
			<p class="text-mid">	당신은 어떤걸 좋아하는지<br>
			당신이 어떤걸 잘할 수 있는지<br>
			당신이 어떤 미래를 추구하는지<br>
			우리는 당신과 같이 고민하고 싶습니다.</P>
		</div>
	</div>
	<div class="container" style="text-align: center">
		<button class="white-button" onclick="location.href='/main/step/1'">시작하기</button>
	
	</div>
</div>
<!-- 두번째 영역  -->
<div class="gray-ground">
	<div class="container">
	<div class="home-contents">
		<p class="text-bold">길찾은 어떤 활동인가요?</p>
		<p class="text-mid">우리는 ‘홀랜드 검사’를 응용한 
		‘성향 검사’를 기반으로 상담을 진행합니다. 
		인터넷에 이미 다양한 검사가 있지만
		단순한 답안지로만 당신을 판단하고
		앞으로 어떻게 해야 하는지 알려주지 않습니다.<br>
		우리는 ‘성향 검사’를 기반으로 앞으로
		당신이 어떻게 해야하는지  같이 고민하고
		길을 찾기 위해 도움이 되고자 합니다</p>
		<div class="img-margin">
			<img style="width: 100%;" src="/images/img_step_explain.png" alt="설명이미지">
		</div>
	</div>
	</div>
</div>
<!--세번째 영역-->
<div class="dark-gray-ground">
	<div class="container">
		<div class="home-contents">
			<p class="text-bold">우리는 왜 이런 활동을 할까요?</p>
			<p class="text-mid">현대 사회에서 다양한 환경에 의해 우리는 올바른
			방향으로 가고 있는지 혹은 스스로를 되돌아볼 기회가 없었습니다. <br>
			당신과 함께 고민을 하다가 가야 할 길을 찾아서 올바른 방향으로 나아가고
			건강한 삶을 살아 간다면, 우리는 언젠가 더 나은 세상을 바꿀 수 있는지
			해답을 얻을 수 있지 않을까요?  </p>
		</div>
	</div>
</div>
<div class="black-ground">
	<div class="container">
		<div class="home-contents">
		 <p> 문의메일: jesehwan@gmail.com </p>
		</div>
	</div>
</div>

