<!-- 설문 버튼부분 -->
<div class="container">
	<form action="/surveys/next" method="get">
		<% @answers.each do |answer| %>
			<% if (answer.id % 4) == 1 %>
				<div class="row" >
			<% end %>
					<div class="col-xs-6 col-md-3">
						<input type="checkbox" name="check[]" id="<%=answer.id%>" value="<%=answer.id%>">
						<label for="<%=answer.id%>"><%=answer.text%></label>
					</div>
			<% if (answer.id % 4) == 0 %>
					</div><hr> 
				<% elsif @answers.last.id == answer.id %>
					</div>
			
			<% end %>
		<% end %>
		
		<input class="purple-button" type="submit" value="다음단계로">

	</form>
</div>
